@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins&display=swap');

body {
    background-color: #F8F0DF;
}

.form-horizontal {
    position: absolute;
    top: 50%;
    left: 50%;
    background: linear-gradient(to left, #79B4B7 0%, #79B4B7 50%, #FFFFFF 50%, #FFFFFF 100%);
    border-radius: 100px 85px 85px 105px;
    width: 1150px;
    height: 80vh;
    font-family: 'Poppins', sans-serif;
    color: #717171;
    font-size: 130%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 200%;
    display: block;
    padding-top: 5%;
    padding-left: 19%;
    font-family: 'Montserrat-bold', sans-serif;
}

.form-group {
    padding: 1%;
    padding-left: 12%;
}

.form-control {
    background-color: #F3F3F3;
    border-radius: 100px;
    border: none;
    padding: 15px;
    width: 300px;
    font-family: 'Poppins', sans-serif;
}

    .form-control:focus {
        border: none;
    }

.btn {
    background: #79B4B7;
    margin-left: 5%;
    border-radius: 1000px;
    padding: 10px 20px;
    border: none;
    width: 200px;
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
}

    .btn:hover {
        background-color: #478185;
    }

.register {
    margin-left: -3%;
    margin-top: 2%;
    font-size: 20px;
}

.reg {
    color: #79B4B7;
}

    .reg:hover {
        color: #478185;
    }

.image {
    float: right;
    border-radius: 1000%;
    width: 50%;
    height: auto;
    position: relative;
    top: 6%;
    display: flex;
    justify-content: center;
}

.error {
    text-align: center;
}
