@media print {
    #printPageButton {
        display: none;
    }

    @page {
        margin: 0;
    }

    body {
        margin: 1.6cm;
        padding: 0;
    }

    footer {
        display: none;
    }
}

button {
    float: right;
    margin: 20px 10px;
    border-radius: 1000px;
    background-color: #79B4B7;
    color: white;
    font-size: 15px;
    padding: 1% 6%;
    border: none;
    transition: 0.3s;
}

    button:hover {
        background-color: #478185;
    }
