@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins&display=swap');

body {
    background-color: #F8F0DF;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: #000000;
}
