
@{
    ViewBag.Title = "VetEmail";
}

<h2>We've found out that you're registering as a veterinarian, please send us an image of your license of practice for verification to this EMAIL ADDRESS: VetSeeker@gmail.com</h2>

